.advantages {
  min-height: 447px;

  outline: 1px solid blue;
}

.advantages__title {
  @include font-title(36px, 60px);
  @include indents-reset;
  text-transform: none;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 44px;
  }

  .advantages__title {
    font-size: 60px;
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    min-height: 416px; //временное свойство
  }
}
