.form__fieldset {
  @include fieldset-reset;
}

.form__list {
  @include list-reset;
}

.form__label {
  @include font-title(16px, 18px);
  text-align: left;
  color: $mine-shaft;
}

.form__input,
.form__textarea {
  @include font-title(16px, 18px);
  text-align: left;
  color: $tundora;
  border: 1px solid $color-border-input;
}

.form__input:hover,
.form__textarea:hover {
  border: 1px solid $color-border-input;
}

.form__input:focus,
.form__textarea:focus {
  border: 2px solid $color-border-input-active;
}

.form__input--erorr {
  border: 2px solid $color-border-input-error;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: $tundora;
}

.form__legend {
  @include font-title(24px, 24px);
  text-align: left;
  text-transform: none;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
}

.profile__text {
  @include font-main(14px, 16px);
}

.form__input + .form__label:active {
  color: $black-another-transparency-30;
}
