.form__fieldset-wrapper {
  outline: 1px solid blue;
}

.form__fieldset {
  @include fieldset-reset;
}

.form__list {
  @include list-reset;
}

.form__label {
  @include font-title(16px, 18px);
  text-align: left;
  color: $mine-shaft;
}

.form__input,
.form__textarea {
  @include font-title(16px, 18px);
  text-align: left;
  color: $tundora;
  border: 1px solid $color-border-input;
}

.form__input:hover,
.form__textarea:hover {
  border: 1px solid $color-border-input;
}

.form__input:focus,
.form__textarea:focus {
  border: 2px solid $color-border-input-active;
}

.form__input--erorr {
  border: 2px solid $color-border-input-error;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: $tundora;
}

.form__legend {
  @include font-title(24px, 24px);
  text-align: left;
  text-transform: none;
}

.form__legend--comment {
  display: block;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
}

.profile__text {
  @include font-main(14px, 16px);
}

.form__input + .form__label:active {
  color: $black-another-transparency-30;
}

@media (min-width: $tablet-width) {
  .form__label,
  .form__input,
  .form__textarea {
    font-size: 20px;
    line-height: 20px;
  }

  .form__legend {
    font-size: 36px;
    line-height: 36px;
  }

  .form__button {
    font-size: 20px;
  }

  .profile__text {
    font-size: 16px;
    text-align: left;
  }

  .form__list--additional-goods {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid red;
  }

  .form__button-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form__list--contacts {
    display: flex;
    flex-wrap: wrap;
  }
}
