.main-nav__wrapper {
  padding-bottom: 0;
}

@media (max-width: $mobile-width-only) {
  .main-nav--close {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    margin-right: auto;
  }
}
