.main {
  background-color: transparent;
}

.main__title {
  @include indents-reset;
  @include font-title(36px, 60px);

  text-align: left;
  text-transform: none;
}

.main__title--catalog {
  position: relative;
  margin-bottom: 28px;
  padding-top: 16px;

  &::after {
    @include pseudo;
    bottom: -29px;
    left: -20px;

    width: 114%;
    height: 1px;

    background-color: $gray93;
  }
}

.main__title--form {
  margin-bottom: 25px;
  padding-top: 16px;
}

@media (min-width: $tablet-width) {
  .main__title {
    font-size: 60px;
  }

  .main__title--catalog {
    padding-top: 28px;

    &::after {
      display: none;
    }
  }

  .main__title--form {
    margin-bottom: 55px;
    padding-top: 27px;
  }
}

@media (min-width: $desktop-width) {
  .main__title--catalog {
    @include indents-reset;
    outline: 1px solid red;
    margin-top: -7px;
    padding-bottom: 29px;
  }

  .main__title--form {
    margin-top: -7px;
    margin-bottom: 56px;
    padding-top: 0;
  }
}
