.navigation-list {
  @include list-reset;
  text-align: center;
}

.navigation-list__link {
  @include font-title(20px, 20px);
  position: relative;

  display: block;
  padding-top: 23px;
  padding-bottom: 23px;

  font-weight: 500;

  &::after {
    @include pseudo;
    bottom: 0;
    left: -20px;

    width: 320px;
    height: 1px;

    background-color: $mercury;
  }
}

.navigation-list__link[href]:hover,
.navigation-list__link[href]:focus {
  color: $black-transparency-60;
}

.navigation-list__link[href]:active {
  color: $black-transparency-30;
}

@media (min-width: $tablet-width) {
  .navigation-list {
    display: flex;
    flex-wrap: wrap;
  }

  .navigation-list__item {
    position: relative;
    padding-top: 20px;
    margin-bottom: 12px;
  }

  .navigation-list__link {
    @include indents-reset;
    margin-left: 35px;

    font-size: 18px;
    line-height: 25px;
    font-weight: 400;

    &::after {
      display: none;
    }
  }

  .navigation-list__item:first-child .navigation-list__link::before {
    display: none;
  }

  .navigation-list__link--active {
    &::after {
      @include pseudo;
      left: 0;
      bottom: -8px;

      width: 100%;
      height: 2px;

      background-color: $apple;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation-list__link {
    margin-left: 34px;

    font-size: 20px;
  }

  .navigation-list__link--active {
    &::after {
      bottom: -10px;
    }
  }

  .navigation-list__link--white {
    color: $white;
  }

  .navigation-list__link--white[href]:hover,
  .navigation-list__link--white[href]:focus {
    color: $white-transparency-60;
  }

  .navigation-list__link--white[href]:active {
    color: $white-transparency-30;
  }

  .navigation-list__link--white.navigation-list__link--active {
    &::after {
      left: 1px;
      bottom: -10px;

      width: 68px;

      background-color: $white;
    }
  }
}
