.page-header {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.page-header__toggle {
  @include button-reset;
  position: relative;

  width: 24px;
  height: 18px;
  margin-top: -3px;

  cursor: pointer;

  &::before {
    @include pseudo;
    top: 0;
    left: 0;

    width: 25px;
    height: 18px;

    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    background-size: 25px 18px;
  }
}

.page-header__toggle--close {
  &::before {
    top: 0;
    left: 0;

    background-image: url("../img/icon-close.svg");
  }
}

.page-header__toggle--hide {
  display: none;
}

.page-header__toggle svg {
  fill: $mine-shaft;
}

.page-header__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 11px;

  &::after {
    @include pseudo;
    bottom: 0;
    left: -20px;

    width: 320px;
    height: 1px;

    background-color: $mercury;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
    padding-top: 23px;
  }

  .page-header__wrapper {
    @include indents-reset;

    &::after {
      display: none;
    }
  }

  .page-header__logo img {
    display: block;
    width: 174px;
    height: auto;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    justify-content: flex-start;
    margin-bottom: 0;
    padding-top: 53px;
    padding-bottom: 82px;
  }

  .page-header--index.container {
    position: relative;

    &::after {
      @include pseudo;
      top: 142px;
      right: 258px;
      z-index: 1;

      width: 552px;
      height: 499px;

      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: 552px 499px;
    }
  }

  @media (min-resolution: $retina-dppx) {
    .page-header--index.container::after {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .page-header__logo img {
    display: block;
    width: 203px;
    height: 60px;
  }
}
