.page-description {
  padding-top: 27px;

  background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, $dirty-green 64%, $white 36%);
  background-size: 280px 270px, 320px 305px, 100% 99%;
  background-repeat: no-repeat;
  background-position: center 167px, center top, center top;
}

@media (min-resolution: $retina-dppx) {
  .page-description {
    background-image: url("../img/index-can-mobile@2x.png"),
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(to bottom, $dirty-green 64%, $white 36%);
  }
}

.page-description__title {
  @include indents-reset;
  @include font-title(36px, 36px);
  margin-bottom: 25px;

  color: $white;
  text-transform: none;
}

.page-description__text {
  @include indents-reset;
  @include font-title(14px, 14px);
  margin-bottom: 302px;

  color: $white;
}

.page-description__button {
  display: block;
  margin: 0 auto;
  width: 280px;
  margin-bottom: 22px;
  padding-top: 11px;
  padding-bottom: 11px;
}

@media (min-width: $tablet-width) {
  .page-description {
    position: relative;

    min-height: 837px;

    background: none;
  }

  .page-description .container {
    position: relative;

    &::after {
      @include pseudo;
      top: 201px;
      left: 29px;
      z-index: -1;

      width: 709px;
      height: 609px;

      background-image: url("../img/index-can-tablet@1x.jpg");
      background-size: 709px 609px;
      background-repeat: no-repeat;
    }
  }

  @media (min-resolution: $retina-dppx) {
    .page-description .container {
      &::after {
        background-image: url("../img/index-can-tablet@2x.jpg");
      }
    }
  }

  .page-description__wrapper {
    padding-left: 88px;
  }

  .page-description__title {
    display: block;
    width: 415px;
    padding-bottom: 16px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $cod-gray;
  }

  .page-description__text {
    @include indents-reset;
    margin-bottom: 38px;
    padding-bottom: 10px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $cod-gray;
  }

  .page-description__button {
    @include indents-reset;
    width: 245px;
    margin-left: 89px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: $desktop-width) {
  .page-description {

    min-height: 501px;
    margin-bottom: 80px;

    background-image: linear-gradient(to left, $dirty-green 49.4%, $white 49.4%);
    background-size: 100% 100%;

    &::after {
      display: none;
    }
  }

  .page-description .container {
    &::after {
      display: none;
    }
  }

  .page-description__wrapper {
    padding-left: 81px;

    background-color: transparent;
  }

  .page-description__text {
    margin-bottom: 43px;
  }

  .page-description__button {
    @include indents-reset;
    margin-left: 81px;
    margin-bottom: 268px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
