$title-font: "Oswald", "Arial", sans-serif;
$main-font: "Arial", sans-serif;
$cod-gray: #111111;
$mine-shaft: #222222;
$tundora: #444444;
$white: #ffffff;
$apple: #68b738;
$grass: #5eaa2f;
$light-grey: #f2f2f2;
$gallery: #ebebeb;
$black-transparency-60: rgba(17, 17, 17, 0.6);
$black-transparency-30: rgba(17, 17, 17, 0.3);
$black-another-transparency-30: rgba(34, 34, 34, 0.3);
$white-transparency-30: rgba(255, 255, 255, 0.3);
$grey-transparency-30: rgba(68, 68, 68, 0.3);
$color-border-input: #cdcdcd;
$color-border-input-active: $tundora;
$color-border-input-error: #ff8282;
